<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a219_lemonade_stand">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application


        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/splash_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_icon"
        android:supportsRtl="true"

        android:theme="@style/Theme.219lemonadestand">
        <activity
            android:name=".MenuSystem.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".GameEngineSystem.EconomySystem.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSystem.LoginSystemActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSystem.RegisterSystemActivity"
            android:exported="false" />
        <activity
            android:name=".GameEngineSystem.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".GameEngineSystem.EconomySystem.TradingActivity"
            android:exported="false" />
        <activity
            android:name=".GameEngineSystem.RecipePricingActivity"
            android:exported="false" />
        <activity
            android:name=".GameEngineSystem.CampaignSystem.SingleplayerActivity2"
            android:exported="false" />
        <activity
            android:name=".CoreComponents.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CoreComponents.InitLoader"
            android:exported="false" />
        <activity
            android:name=".GameEngineSystem.EconomySystem.MarketActivity"
            android:exported="true"
            android:label="@string/title_activity_market"
            android:theme="@style/Theme.219lemonadestand.NoActionBar" />
        <activity
            android:name=".GameEngineSystem.CampaignSystem.SingleplayerActivity"
            android:exported="true" />
        <activity
            android:name=".MenuSystem.MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MenuSystem.MultiplayerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CoreComponents.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.219lemonadestand.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>